<!DOCTYPE html>
<html>
<head>
  <title>Rails Basic Template</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body class="vertical-center body-background">

<%= yield %>

</body>
</html>
